<div class='search-container'>
  <form method='GET' class='form-search mt-4'>
    <div class='form-group mb-3'>
      <input
        type='text'
        name='q'
        class='form-control'
        id='input-search'
        placeholder='Search something...'
      />
    </div>
    <button type='submit' class='search-btn btn btn-sm'>Search</button>
  </form>
</div>